body {
    background-color: cornflowerblue;
}
  
#pet-container {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 1em;
  
  text-align: center;
  border: solid 1px whitesmoke;
    
  }
  
.card img {
    height: 50px;
    width: 100px;
  }